@media not print {
    /* Color contrast checked with 
       https://www.color-blindness.com/coblis-color-blindness-simulator 
       and is redundant to underline/strikethrough for ins/del. */

    /* Overrule sites that set !important rules for classes "show" or "hide".
       See 
       https://css-tricks.com/when-using-important-is-the-right-choice/
       https://www.w3.org/TR/CSS2/cascade.html#important-rules */

    strong.dgtw.show {
        background-color: #ffffcc; /* yellow */
        font-weight: inherit;
        display: inline !important;
    }

    strong.dgtw.hide {
        font-weight: inherit;
        color: inherit;
        display: inline !important;
    }

    ins.dgtw.show {
        background-color: #eeffee; /* green */
        display: inline !important;
    }

    ins.dgtw.hide {
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        display: inline !important;
    }

    del.dgtw.show {
        background-color: #ffeeee; /* pink */
        display: inline !important;
    }

    del.dgtw.hide {
        display: none !important;
    }
}
